a:focus {
    outline: none;
  }
  
  a {
    text-decoration: none;
    color: #007edf;
    text-shadow: none;
  
    transition: color 0.5s ease;
    transition: text-shadow 0.5s ease;
    -webkit-transition: color 0.5s ease;
    -webkit-transition: text-shadow 0.5s ease;
    -moz-transition: color 0.5s ease;
    -moz-transition: text-shadow 0.5s ease;
    -o-transition: color 0.5s ease;
    -o-transition: text-shadow 0.5s ease;
    -ms-transition: color 0.5s ease;
    -ms-transition: text-shadow 0.5s ease;
  }
  
  .container {
    width: 1000px;
    margin: 20px auto;
    border:2px rgb(231, 179, 35) dotted;
    font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  }
  
  
  /*** head part ***/
  
  #header_wrap {
    background: #212121;
    background: -moz-linear-gradient(top, #373737, #212121);
    background: -webkit-linear-gradient(top, #373737, #212121);
    background: -ms-linear-gradient(top, #373737, #212121);
    background: -o-linear-gradient(top, #373737, #212121);
    background: linear-gradient(top, #0d1950, #0d1950);
  }
  
  #header_wrap .inner {
    padding: 50px 10px 30px 10px;
  }
  
  .outer {
    width: 100%;
  }
  
  .inner {
    
    position: relative;
    max-width: 640px;
    padding: 20px 10px;
    margin: 0 auto;
  }
  
  #project_title {
    margin: 0;
    color: #fff;
    font-size: 42px;
    font-weight: 700;
    text-shadow: #111 0px 0px 10px;
  }
  
  #project_tagline {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    background: none;
    text-shadow: #111 0px 0px 10px;
  }
  
  /*** button part ***/
  
  .buttonLine{
    width: 300px;
    height: 28px;
    border:2px rgb(55, 35, 231) dotted;
    margin: auto;
    padding-top: 5px;
  }
  .buttonLine>div{
    width: 96px;
    height: 28px;
    border:2px rgb(13, 12, 22) dotted;
    text-align: center;
    float:left;
  }
  
  /*  */
  footer p {
    color: #f2f2f2;
    font-size: 15px;
  }
  
  #footer_wrap {
    background: #0d1950;
  }
  
  