.ParticipantView{
    color : white;
    font-size: 18px;
    background-color: rgb(12, 13, 82);
    padding: 10px;
    margin: 5px;
    border-radius:5px;
}

.ParticipantView input{
    width:100px;
    margin:0px 100px;
    color: white;
    background-color: rgb(12, 13, 82);
    /* border: none; */
}

.ParticipantView button{

  background-color:rgb(12, 13, 82);
  /* border: none; */
  color: white;
  text-align: center;
  /* font-size: 15px; */
  /* padding: 10px 20px; */
  /* margin: 5px; */
 }