.RankItem{
    text-align:center;
    color : white;
    font-size: 18px;
    background-color: rgb(138, 132, 49);
    padding: 10px;
    margin: 5px;
    border-radius:5px;
    /* font-weight: normal; */
}

.RankItem th{
    color : white;
    padding: 10px;
    margin: 5px;
    /* font-weight: normal; */
}
.RankItem .rank{
    width:150px;
}
.RankItem .username{
    width:450px;
}
.RankItem .gpaplus{
    width:450px;
}
.RankItem .totalbounty{
    width:450px;
}
.RankItem .awscore{
    width:450px;
}