.task {
  width: 900px;
  min-height: 900px;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1), 0 1px rgba(0,0,0,0.1);
  margin: 10px auto;
  padding: 20px 20px;
}
.textCenter{
  /* 针对块级元素中的文字的居中 */
  /* !!! 无法实现某元素在其父容器中居中！！！ */
  text-align:center;
}